.login__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('../../../assets/images/stacked-waves-haikei.svg') no-repeat ;
    background-size: cover;
}


.login-form-img {
    width: 50rem;
}

.login-form-informations {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}



