.register__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('../../../assets/images/stacked-waves-haikei.svg') no-repeat ;
    background-size: cover;
}

.register-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    width: fit-content;
    gap: 1rem;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(5px);
}

.register-form-img {
    width: 50rem;
}

.register-form-informations {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.register-redirect {
    text-align: center;
    font-size: 1.3rem;
}

.register-redirect a {
    font-weight: bold;
}