.home__container {
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/stacked-waves-haikei.svg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0;
    gap: 3rem;
}

.home-link {
    padding: 1.5rem 2.5rem;
    border-radius: 5rem;
    background-color: #db1d30;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}

.home-posts-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}